/* FONTS AND COLORS
body: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
titles & nav: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
green: #18BC9C
blue: #2C3E50
white: #FFFFFF
grey: #EEEEEE
*/
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

nav {
  background: #2C3E50;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 20px
}

nav .title {
  color: white;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  padding: 10px;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

nav ul li.active {
  background: #18BC9C;
}

nav ul li.active a,
nav ul li.active a:hover,
nav ul li.active a:focus,
nav ul li.active a:active,
nav ul li.active a.active {
  color: #FFFFFF;
  background: #18BC9C;
}

header {
  text-align: center;
  background: #18BC9C;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
}

section {
  padding: 100px 0;
}

section h2 {
  margin: 0 0 20px;
  font-size: 3em;
  text-align: center;
}

#portfolio {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#portfolio .portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#portfolio .portfolio-item {
  margin: 0 15px 30px;
  width: calc(32% - 30px);
}

#portfolio .portfolio-item img {
  width: 100%;
}

#about {
  background: #18BC9C;
  color: #FFFFFF;
}

#about p {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2em;
  margin-top: 20px;
}

#about p.link {
  color: #FFFFFF;
  text-align: center;
}

#about p.link a {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

#about p.link a:hover {
  color: #18BC9C;
  background: #FFFFFF;
}

#contact form {
  padding: 0 50px;
}

#contact form > div {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-top: 1px solid #eeeeee;
}

#contact form > div input,
#contact form > div textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
  margin-top: 10px;
  width: 100%;
}

#contact form > div [placeholder] {
  font-size: 24px;
}

#contact form > div label {
  display: none;
}

#contact form > div button {
  margin-top: 20px;
  color: #fff;
  background-color: #18BC9C;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  border: 1px solid #18BC9C;
}

#contact form > div input:focus,
#contact form > div textarea:focus,
#contact form > div button:focus {
  outline: none;
}

footer {
  color: white;
}

footer > div:not(.copyright) {
  padding: 50px 30px;
  background-color: #2C3E50;
  display: flex;
}

footer .column {
  flex: 1;
  text-align: center;
  padding: 0 20px;
}

footer .column ul {
  padding: 0;
  margin: 0;
}

footer .column ul li {
  list-style: none;
}

footer .copyright {
  padding: 25px 0;
  background-color: #233140;
  text-align: center;
  color: #FFFFFF;
}
